@import 'styles/main';

.button {
  height: 46px;
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
