@import '../../../styles/main';

.wrapper {
  padding: 10px;
  border-radius: 50%;
  background-color: $primary;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 5px;

  &:hover {
    background-color: darken($primary, 10%);
    svg {
      fill: darken(white, 15%);
    }
  }
}
